@model IEnumerable<MvcNetCoreZapatillas.Models.Zapatilla>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table table-bordered">
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a asp-asp-controller="Zapatillas" asp-action="Details" asp-route-idzapatilla="@item.IdProducto" class="btn btn-success">@item.Nombre</a>
            </td>
        </tr>
}
    </tbody>
</table>
